# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Base Projects Visual Studio
*.sln
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters
stdafx.cpp
stdafx.h
targetver.h

#log
*.log
*.tlog

# Visual studio files
**/Debug/
**/.vs/

# Unwanted ReadMeFiles
ReadMe.txt
GPR4100 - baseprog/FileIO exs/FileIOex1.1/
